@page
@using WebApp2.PageModels
@model WebApp2.Pages.CoursesFromDBModel
<style>
    .MyCustomStyle {
        background-color: @Model.MySettings.BackgroundColor;
        color: @Model.MySettings.FontColor;
        font-size: @(Model.MySettings.FontSize)px;
    }
</style>



<div class="container-sm">

    <h1>This is a list of Courses</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th class="th-sm" scope="col">Course ID</th>
                <th class="th-sm" scope="col">Course Name</th>
                <th class="th-sm" scope="col">Rating</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Course course in @Model.Courses)
            {
                <tr>
                    <th scope="row">@course.CourseID</th>
                    <td>@course.CourseName</td>
                    <td>@course.Rating</td>
                </tr>
            }          

        </tbody>
     </table>
    @if (Model.MySettings.IsEnabled)
    {
        <div class="MyCustomStyle">
            <span>@Model.MySettings.Message</span>
        </div>
    }
    
    <feature name = "BetaFeature">
        <div class="MyCustomStyle">
            <span>The Beta feature is activated from Feature flags.</span>
        </div>
    </feature>

</div>
